<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<php>

		<!-- PHPUnit populates $_ENV with these -->
		<!-- And one can overwrite these values from standard process environment vars -->

		<!-- If truthy, it will spew debug -->
		<env name="OPENTHC_TEST_HTTP_DEBUG" value="0" />

		<!-- A Directory for the CRE Override File -->
		<env name="OPENTHC_TEST_APP_ROOT" value="" />

		<!--
			BioTrack Options
		-->

		<env name="OPENTHC_TEST_BIOTRACK_COMPANY" value="" />
		<env name="OPENTHC_TEST_BIOTRACK_USERNAME" value="" />
		<env name="OPENTHC_TEST_BIOTRACK_PASSWORD" value="" />

		<!--
			METRC Options
		-->
		<env name="OPENTHC_TEST_METRC_CRE" value="usa-co" />
		<env name="OPENTHC_TEST_METRC_LICENSE_SK" value="" />

	</php>

	<testsuites>
		<testsuite name="All">
			<directory>Config</directory>
			<directory>Core</directory>
			<!-- <directory>BioTrack</directory> -->
			<!-- <directory>Metrc</directory> -->
		</testsuite>
	</testsuites>

	<!-- XDEBUG_MODE=coverage (environment variable) or xdebug.mode=coverage (PHP configuration setting) has to be set -->
	<!-- <coverage /> -->

</phpunit>
