<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<coverage />

	<php>

		<!-- If defined, it will spew debug -->
		<!-- <const name="OPENTHC_TEST_HTTP_DEBUG" value="0" /> -->

		<!--
			BioTrack Options
		-->

		<const name="biotrack-c0-id" value="" />
		<const name="biotrack-c0-username" value="" />
		<const name="biotrack-c0-password" value="" />

		<const name="biotrack-c1-id" value="" />
		<const name="biotrack-c1-username" value="" />
		<const name="biotrack-c1-password" value="" />

		<const name="biotrack-c2-id" value="" />
		<const name="biotrack-c2-username" value="" />
		<const name="biotrack-c3-password" value="" />

		<!--
			METRC Options
		-->
		<const name="metrc-service-sk" value="TEST" />
		<const name="metrc-tag-file" value="./metrc-tags.tab" />
		<const name="metrc-license-g0-pk" value="TEST" />
		<const name="metrc-license-g0-sk" value="TEST" />
		<const name="metrc-license-p0-sk" value="TEST" />
		<const name="metrc-license-l0-sk" value="TEST" />
		<const name="metrc-license-r0-sk" value="TEST" />

	</php>

	<testsuites>
		<testsuite name="All">
			<directory>A_System</directory>
			<directory>B_Config</directory>
			<directory>C_Core</directory>
			<directory>E_BioTrack</directory>
			<directory>E_Metrc</directory>
			<directory>Metrc</directory>
		</testsuite>
	</testsuites>

</phpunit>
