;
; RBE Definitions
;

;
; Alaska
[usa/ak]
	name = "Alaska / METRC"
	engine = "metrc"
	server = "https://api-ak.metrc.com"
	region = "ak"
	version = 2015001
	program-key = "A_SECRET"


;
; Alaska Test
[usa/ak/test]
	name = "Alaska / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-ak.metrc.com"
	region = "ak"
	version = 2015001
	program-key = "A_SECRET"


;
; California
[usa/ca]
	name = "California / METRC"
	engine = "metrc"
	server = "https://api-ca.metrc.com"
	region = "ca"
	version = 2015001


;
; California
[usa/ca/test]
	name = "California / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-ca.metrc.com"
	region = "ca"
	version = 2015001
	program-key = "A_SECRET"


;
; Colorado
[usa/co]
	name = "Colorado / METRC"
	engine = "metrc"
	server = "https://api-co.metrc.com"
	region = "co"
	version = 2015001
	program-key = "A_SECRET"


;
; Colorado
[usa/co/test]
	name = "Colorado / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-co.metrc.com"
	region = "co"
	version = 2015001
	program-key = "A_SECRET"


;
; Oregon
[usa/or]
	name = "Oregon / METRC"
	engine = "metrc"
	region = "or"
	version = 2015001
	program-key = "A_SECRET"


;
; Oregon/Test
[usa/or/test]
	name = "Oregon/ METRC / Test"
	engine = "metrc"
	region = "or"
	version = 2015001
	program-key = "A_SECRET"


;
; Hawaii
[usa/hi]
	name = "Hawaii / BioTrack"
	engine = "biotrack"
	server = "https://hicsts.hawaii.gov/serverjson.asp"
	region = "hi"
	version = 2014001


;
; Illinois
[usa/il]
	name = "Illinois / BioTrack"
	engine = "biotrack"
	server = "https://mcmonitoring.agr.illinois.gov/serverjson.asp"
	region = "il"
	version = 2014001


;
; Maine
[usa/me]
	name = "Maine / METRC"
	engine = "metrc"
	server = ""
	version = 2019270


;
; Maine
[usa/me/test]
	name = "Maine / METRC / Test"
	engine = "metrc"
	server = ""
	version = 2019270


;
; Massachusetts
[usa/ma]
	name = "Massachusetts / METRC"
	engine = "metrc"
	region = "ma"
	version = 2015001


;
; Maine
[usa/me]
	name = "Maine / BioTrack"
	engine = "biotrack"
	region = "me"
	version = 2019270


;
; Michigan
[usa/mi]
	name = "Michigan / METRC"
	engine = "metrc"
	region = "mi"
	version = 2018001


;
; Montana
[usa/mt]
	name = "Montana / METRC"
	engine = "metrc"
	server = "https://api-mt.metrc.com"
	region = "mt"
	version = 2015001
	program-key = ""


;
; Montana/TEST
[usa/mt/test]
	name = "Montana / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-co.metrc.com"
	region = "mt"
	version = 2015001
	program-key = ""


;
; New Mexico
[usa/nm]
	name = "New Mexico / BioTrack"
	engine = "biotrack"
	server = "https://mcp-tracking.nmhealth.org/serverjson.asp"
	region = "nm"
	version = 2014001


;
; Nevada
[usa/nv]
	name = "Nevada / METRC"
	engine = "metrc"
	server = "https://api-nv.metrc.com"
	region = "nv"
	version = 2015001
	program-key = "A_SECRET"


;
; Nevada / Test
[usa/nv/test]
	name = "Nevada / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-nv.metrc.com"
	version = 2015001
	program-key = ""


;
; Oklahoma
[usa/ok]
	name = "Oklahoma / OpenTHC"
	engine = "openthc"
	region = "ok"
	version = 2017001
	program-key = "A_SECRET"

;
; Oregon
;
; Oregon
[usa/or]
	name = "Oregon / METRC"
	engine = "metrc"
	server = "https://api-or.metrc.com"
	version = 2015001
	program-key = "A_SECRET"


;
; Oregon / Test
[usa/or/test]
	name = "Oregon / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-or.metrc.com"
	version = 2015001
	program-key = "A_SCRET"


;
; Pennsylvania
[usa/pa]
	name = "Pennsylvania / LeafData"
	engine = "leafdata"
	server = "https://pa.leafdatazone.com/api/v1"
	version = 2018031


;
; Utah (pending)
[usa/ut]
	name = "Utah / LeafData"
	engine = "leafdata"


;
; Washington / BioTrack / UCS
[usa/wa/ucs]
	name = "Washington / BioTrack / UCS"
	engine = "biotrack"
	region = "wa"
	version = 2014001

;
; Washington / BioTrack / UCS Test
[usa/wa/ucs/test]
	name = "Washington / BioTrack / UCS / Test"
	engine = "biotrack"
	region = "wa"
	version = 2014001


;
; Washington
[usa/wa]
	name = "Washington / LeafData"
	engine = "leafdata"
	server = "https://wa.leafdatazone.com/api/v1"
	region = "wa"
	version = 2019157


;
; LeafData Test System
[usa/wa/test]
	name = "Washington / LeafData / Test"
	engine = "leafdata"
	server = "https://watest.leafdatazone.com/api/v1"
	region = "wa"
	version = 2019157


;
;
[can]
	name = "Canada / OpenTHC"
	engine = "openthc"
	region = "can"
	version = 2017001
	program-key = ""


;
;
[openthc]
	name = "OpenTHC"
	engine = "openthc"
	version = 2017001
	program-key = ""
